body{
  background-color: gray;
  padding-top: 4rem;
}

.border{
  border-radius: 50%;
  width:40px;
  height: 40px;
  border: 1px;
}

.cell{
  height: 2rem;
  width: 2rem;
  border: .5px;
  border-color: black;
  background-color: white;
  border-width: thin;
  border: solid;

}

.workarea{
  background-color: #A8B5DE;
  border-radius: 30px;
  width: 70%;

}

.colors{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.grid{
  padding-top: 4rem;
  padding-bottom: 1rem;
}


#Red{
  background-color: Red;
}

#Orange{
  background-color: Orange;
}

#Yellow{
  background-color: Yellow;
}

#Green{
  background-color: Green;
}

#Blue{
  background-color: Blue;
}

#Indigo{
  background-color:Indigo;
}

#Violet{
  background-color:Violet
}

#Black{
  background-color: Black;
}

#White{
  background-color: White;
}

#Brown{
  background-color: Brown;
}
